<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link href="__TMPL__/admin/css/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__TMPL__/admin/js/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="__TMPL__/admin/js/themes/icon.css" />
    <script type="text/javascript" src="__TMPL__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__TMPL__/admin/js/jquery.easyui.min.js"></script>
